@page "/"

<PageTitle>Home</PageTitle>

<MudPaper Class="p-4 my-4">
    <MudText Typo="Typo.h3" Align="Align.Center">@Localizer["Title"]</MudText>
    <MudText Typo="Typo.h5" Align="Align.Center">@Localizer["Subtitle"]</MudText>

    <AuthorizeView Roles="Admin">
        <Authorized>
            <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
        </Authorized>
        <NotAuthorized>
            <p>No estas autorizado</p>
        </NotAuthorized>
    </AuthorizeView>

</MudPaper>